<div id="root">
  <div class="justify-center items-center">
    <div class="w-full py-4">
      <div class="container mx-auto">
        <h1 class="text-3xl font-bold">Dog Breed Finder</h1>
      </div>
    </div>
  </div>
  <%= react_component("App") %>
</div>
